<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/about_us.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>About Us</h1>
            <p>We are a group of passionate developers working together to create a seamless experience.</p>
        </header>

        <section class="about">
            <h2>Our Mission</h2>
            <p>Our goal is to simplify libarary management system nd make it seemless and user friendly.</p>
        </section>

        <section class="developers">
            <h2 alighn="centre">Meet The Developers</h2>
            <div class="developer-box">
                <h3>Athulya</h3>
                <p>Athulya is a software engineer with a passion for mobile app development. She specializes in css html and python</p>
            </div>
            <div class="developer-box">
                <h3>Adrian</h3>
                <p>Adrian  is a software engineer with a passion for web development. He specializes in css html and python and sql.</p>
            </div>
            <div class="developer-box">
                <h3>Amal ND</h3>
                <p>Amal is a backend expert. His focus is on server-side programming and data security.</p>
            </div>
        </section>
    </div>
</body>
</html>
