<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/css/contact_us.css">
</head>
<body>

    <section class="contact-section">
        <h2 style="color: rgb(3, 1, 1);">Contact Us</h2>

        <p>Any questions or remarks? Just write us a message!</p>
        
        <form class="contact-form">
            <input type="email" placeholder="Enter a valid email address" required>
            <input type="text" placeholder="Enter your Name" required>
            <button type="submit">Submit</button>
        </form>
    </section>

    <section class="info-section">
        <div class="info-box">
            <i class="fas fa-running"></i>
            <h3>About software</h3>
            <p>library management<br>system</p>
        </div>
        <div class="info-box">
            <i class="fas fa-phone-alt"></i>
            <h3>Phone (Landline)</h3>
            <p>+91 6235517608<br>+91 7025121496</p>
        </div>
        <div class="info-box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Our Office Location</h3>
            <p>naipunya college<br>angamaly, koratty, kerela </p>
        </div>
    </section>

</body>
</html>
