<!DOCTYPE html>
<html>
<head>
    <title>Internship Project</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <video autoplay loop muted controls id="video" playsinline>
            <source src="/static/videos/home_page.mp4" type="video/mp4">
        </video>
        <div class="overlay"></div>

        <div class="navbar">
            <div class="logo">
                <h6>Library Management System</h6> 
            </div>
            <ul>
                <li><a href="/">HOME</a></li>                     
                <li><a href="/contact">CONTACT US</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/login">LOG IN</a></li>
            </ul>
        </div>

        <div class="heading">
            <h1 class="head">WELCOME TO OUR <span>LIBRARY MANAGEMENT SYSTEM</span></h1> 
            <h3 class="sub">CREATED BY ATHULYA, ADRIAN, AMAL ND</h3> 
        </div>
    </div> 
</body>
</html>
